<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<body class="body_class">
    <div class="row">
        <div class="label">
            <h3>Email: pokerplayerat69@gmail.com</h3>
        </div>
        <div class="label">
            <h1>Play Poker</h1>
        </div>
        <div class="label">

        </div>
    </div>
    <div class="row">
        <div class="label2">
            <h2>
                This website was designed for people who are just starting to play poker and would like to practice their
                skills in playing without the risk of losing money.
                New players need to learn and familiarize themselves with the different poker hands as well as
                knowing when to proceed to the next street (flop, turn, river) or when to fold their hands to minimize
                loss, while having fun.
            </h2>
            <br>
            <h2>The game is between you, the player, and your computer or phone, the dealer.
                The pre-flop bet is $20.  On the flop, the player has to decide to
                proceed to the turn with a $30 bet, or fold, losing only the initial $20 bet.
                On the turn, the player has to bet $50 to continue to the river, or fold,
                losing $50, the bet on pre-flop $20  and flop $30. On the river, the bet is
                $100 to proceed to the showdown, or fold, losing $100.  At showdown, the player
                either wins or loses the total pot of $400. In case you encounter an error in a page,
                click refresh to get back to the game.
            </h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="label">
        </div>
        <div class="label">
            <br>
            <a href="{{url_for('start_game')}}"><button class="button">Play Poker Now</button></a>
        </div>
        <div class="label">
        </div>
    </div>

</body>
</html>