<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Poker Game</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">

</head>
<body class="body_class">
    <br>
    <br>
    <div class="row">
        <div class="label">
        </div>
        <div class="label">
        </div>
        <div class="label">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="label">
        </div>
        <div class="label">
            <div class="title_div blink">
                <h1>Let's Play Poker</h1>
                <h1>&nbsp</h1>
            </div>
        </div>
        <div class="label">
        </div>
    </div>
    <div class="row">
    </div>
    <div class="row">
        <div class="label">
            <a href="{{url_for('logout')}}"><button class="button b">Exit Game</button></a>
        </div>
        <div class="label">
            <h2>Thank you for playing!</h2>
            <h2>I hope you enjoyed the game!</h2>
            <h3>&nbsp;</h3>
        </div>
        <div class="label">
            <a href="{{url_for('start_game')}}"><button class="button b">Play Again</button></a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="label">
        </div>
        <div class="label">
            <h3>Contact at pokerplayerat69@gmail.com</h3>
        </div>
        <div class="label">
        </div>
    </div>
    <!--    <div class="row board">-->
<!--        <div class="column_5">-->
<!--            <img src="/static/images/back_card.png" width="190" height="250">-->
<!--        </div>-->
<!--        <div class="column_5">-->
<!--            <img src="/static/images/back_card.png" width="190" height="250">-->
<!--        </div>-->
<!--        <div class="column_5">-->
<!--            <img src="/static/images/back_card.png" width="190" height="250">-->
<!--        </div>-->
<!--        <div class="column_5">-->
<!--            <img src="/static/images/back_card.png" width="190" height="250">-->
<!--        </div>-->
<!--        <div class="column_5">-->
<!--            <img src="/static/images/back_card.png" width="190" height="250">-->
<!--        </div>-->
<!--    </div>-->

</body>
</html>