<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Poker Game</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">

    <script type="text/javascript">  function preventBack() {window.history.forward();}  setTimeout("preventBack()", 0);  window.onunload = function () {null};</script>

</head>
<body class="body_class">
    <div class="row">
        <div class="label">
            <h3>Contact: pokerplayerat69@gmail.com</h3>
        </div>

    <div class="label">
        <h1>New Game</h1>
    </div>
        <div class="label">

        </div>    </div>
    <div class="row">
        <div class="label">
           <h2>Dealer's Cards</h2>
        </div>

        <div class="label">
            <h2>Player's Cards</h2>
        </div>
        <div class="label">
           <h2>The bet is $20</h2>
        </div>
    </div>
    <div class="row">
        <div class="label">
        </div>
        <div class="label">
            <h2></h2>
        </div>
        <div class="label">
        </div>
    </div>

    <div class="row">
        <div class="label">
            <img class="img_hand"  src='/static/images/back_card.png'>
            <img class="img_hand" src='/static/images/back_card.png'>
        </div>
        <div class="label">
            <img class="img_hand" src="{{post.img1}}">
            <img class="img_hand" src="{{post.img2}}">

        </div>
        <div class="label">
            <h2>Proceed to flop</h2>
            <br>
            <a href="{{url_for('the_flop')}}"><button class="button">Y</button></a><a href="{{url_for('exit_game')}}"><button class="button">N</button></a>
        </div>
    </div>
    <div class="row board">
        <div class="column_5">
            <img class="img_board" src="/static/images/back_card.png">
        </div>
        <div class="column_5">
            <img class="img_board" src="/static/images/back_card.png">
        </div>
        <div class="column_5">
            <img class="img_board" src="/static/images/back_card.png">
        </div>
        <div class="column_5">
            <img class="img_board" src="/static/images/back_card.png">
        </div>
        <div class="column_5">
            <img class="img_board" src="/static/images/back_card.png">
        </div>
    </div>

</body>
</html>