<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PokerPlay</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap" rel="stylesheet">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/styles.css">

</head>
<body class="body_landing">
<div class='row' style='min-height: 50px;'>
</div>
<div class='row'>
</div>
<div class='row'>
    <div class='column_landing' style="">
        <h1 style="text-align: center">Play Poker!</h1>
            <h3 class="landing_text">
                Practice your poker skills. Play heads-up poker with your phone or computer.
                Develop the skills of when to bet or when to fold, without the risk of losing real money,
                while having fun, fun, fun.
            </h3>
            <h3 class='landing_text'>
                This game is between you, the player, and your computer or phone, the dealer.
                The pre-flop bet is $20.  On the flop, you, the player, have to decide to
                proceed to the turn with a $30 bet, or fold, losing only the initial $20 bet.
                On the turn, you have to bet $50 to continue to the river, or fold,
                losing $50, which was the bet on pre-flop $20 and flop $30. On the river, the bet is
                $100 to proceed to the showdown, or fold, losing $100. At showdown, the player
                either wins or loses the total pot of $400.
            </h3>
            <h3 class="landing_text">
                In case you encounter an error in a page, click refresh to get back to the game.
            </h3>
            <br>
            <h3>Contact: pokerplayerat69@gmail.com</h3>
    </div>
    <div id="login-form-wrap">
      <h2>Login</h2>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
             <p>{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}
      <form action="{{url_for('login')}}" method="post" id="login-form">
        <p>
        <input type="email" id="email" name="email" placeholder="Email Address" required><i class="validation"><span></span><span></span></i>
        <p>
        <input type="password" id="password" name="password" placeholder="Password" required><i class="validation"><span></span><span></span></i>        </p>
        </p>
        <p>
        <input type="submit" id="login" value="Sign In">
        </p>
      </form>
      <div id="create-account-wrap">
          <br>
        <p>No account yet? <a href="{{url_for('register')}}">Create Account</a><p>
      </div><!--create-account-wrap-->
    </div><!--login-form-wrap-->
</div>
</body>
</html>