<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Poker Game</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
    <script type="text/javascript">
        function preventBack() {
            window.history.forward();
        }

        setTimeout("preventBack()", 0);

        window.onunload = function () { null };
    </script>
</head>
<body class="body_class">
    <div class="row">
    <div class="label">
            <h3>Contact: pokerplayerat69@gmail.com</h2>
    </div>
    <div class="label blink">
        {% if post.winner != "It's a draw!" %}
            {% if post.winner == 'Dealer' %}
            <h1 style="color: #990000">{{post.winner}} wins! </h1>
            {% else %}
<!--              <audio autoplay>-->
<!--              <source src="youwin.mp3" type="audio/mpeg">-->
<!--              Your browser does not support the audio element.-->
<!--              </audio>-->

            <h1>{{post.winner}} wins!</h1>
            {% endif %}
        {% else %}
        <h1>{{post.winner}}</h1>
        {% endif %}
    </div>
    <div class="label">
            <h2>Stack: ${{stack[0]}},{{stack[1:]}}</h2>
    </div>
    </div>
    <div class="row">
        <div class = "label">
            <h2>{{post.player2_hand}}</h2>
        </div>
        <div class = "label">
            <h2>{{post.player1_hand}}</h2>
        </div>
        <div class="label">
            {% if post.winner == 'Player' %}
            <h2>Pot won is $400</h2>
            {% elif post.winner == 'Dealer' %}
            <h2>Pot lost is $400</h2>
            {% else %}
            <h2></h2>
            {% endif %}        </div>
    </div>

    <div class="row">
        <div class="label">
        </div>
        <div class="label">

        </div>
        <div class="label">
        </div>
    </div>

    <div class="row">
        <div class="label">
            <img class="img_hand" src='{{post.img3}}'>
            <img class="img_hand" src='{{post.img4}}'>
        </div>
        <div class="label">
            <img class="img_hand" src="{{post.img1}}">
            <img class="img_hand" src="{{post.img2}}">

        </div>
        <div class="label">
            <h2>Another game? </h2>
            <br>
            <a href="{{url_for('start_game')}}"><button class="button">Y</button></a><a href="{{url_for('exit_game')}}"><button class="button">N</button></a>
        </div>
    </div>
    <div class="row board">
        <div class="column_5">
            <img class="img_board" src="{{post.img5}}">
        </div>
        <div class="column_5">
            <img class="img_board" src="{{post.img6}}">
        </div>
        <div class="column_5">
            <img class="img_board" src="{{post.img7}}">
        </div>
        <div class="column_5">
            <img class="img_board" src="{{post.img8}}">
        </div>
        <div class="column_5">
            <img class="img_board" src="{{post.img9}}">
        </div>
    </div>
</body>
</html>
